params {
    // Input options
    input                      = null
}

// Set default registry for Apptainer, Docker, Podman and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry   = 'quay.io'
docker.registry      = 'quay.io'
podman.registry      = 'quay.io'
singularity.registry = 'quay.io'

// Nextflow plugins
plugins {
        id 'nf-validation' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

manifest {
    name            = 'seqeralabs/nf-pipeline'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.2'
    version         = '0.1dev'
}
